<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Plot of column sensor readings over time</title>
	<script type=text/javascript src="{{
       url_for('static', filename='jquery.js') }}"></script>
	<script type=text/javascript src="{{
       url_for('static', filename='jquery.flot.js') }}"></script>
	<script type="text/javascript">
	
	var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

	$(function() {
		
		var updateInterval = 50;
		function update() {
			$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
            $.getJSON($SCRIPT_ROOT+"/_updatemyflot",
                function(data) {
                    $.plot("#placeholder", [ data ], {
						series: {
							lines : {
								fill : true
							},
							shadowSize: 0	// Drawing is faster without shadows
						},
						yaxis: {
							min: 310,
							max: 335
						},
						xaxis: {
							show: true
						}
					});
                });
				setTimeout(update, updateInterval);
		}
		update();
	});

	</script>
</head>
<body>

	<div id="header">
		<h2>Live plot of sensor readings against time</h2>
	</div>

	<div id="content">

		<div class="demo-container">
			<div id="placeholder" class="demo-placeholder" style="width:850px; height:450px;"></div>
		</div>

		<p>This graph plots the CHEMonkey reading against seconds since the start of the experiment.</p>

	</div>

</body>
</html>
