<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Flot Examples: Basic Usage</title>
	<script type=text/javascript src="{{
       url_for('static', filename='jquery.js') }}"></script>
	<script type=text/javascript src="{{
       url_for('static', filename='jquery.flot.js') }}"></script>
	<script type="text/javascript">
	
	var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

	$(function() {
	
		function update_values() {
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
            $.getJSON($SCRIPT_ROOT+"/_updatemyflot",
                function(data) {
                    $.plot("#placeholder", [ data ]);
                });
		}

		update_values();
		
		setInterval(update_values, 1000);

		$("#footer").prepend("Flot " + $.plot.version + " &ndash; ");
	});

	</script>
</head>
<body>

	<div id="header">
		<h2>Basic Usage</h2>
	</div>

	<div id="content">

		<div class="demo-container">
			<div id="placeholder" class="demo-placeholder" style="width:850px; height:450px;"></div>
		</div>

		<p>You don't have to do much to get an attractive plot.  Create a placeholder, make sure it has dimensions (so Flot knows at what size to draw the plot), then call the plot function with your data.</p>

		<p>The axes are automatically scaled.</p>

	</div>

	<div id="footer">
		Copyright &copy; 2007 - 2014 IOLA and Ole Laursen
	</div>

</body>
</html>
