{% extends "layout.html" %}
{% block content %}
<script type="text/javascript">

   $(document).ready(function() {
    $("#stopBtn").click(function(){
        stop();
    }); 
   });
  
  function stop() {
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
            $.getJSON($SCRIPT_ROOT+"/_stop",
                function(data) {
                });
  }
  
  function update_values() {
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
            $.getJSON($SCRIPT_ROOT+"/_update",
                function(data) {
                    $("#data_text").text(data.data_text)
                });
  }
  
  setInterval(update_values, 1000);

</script>
<strong>Data feed</strong>
<div id="output" style="height:500px;width:500px;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
  <pre><div id="data_text"></div></pre>
</div>

<button type="button" id="stopBtn" name="stopBtn">Stop thread</button><br><br>

{% endblock %}